.navbar-brand {
   text-transform: uppercase;
    color:red
}

.navbar-brand > img{
    size: 3px 2px;
}

.nav-link {
    text-align: right;
}

h1{
    color:red;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}