.navbar-brand {
   text-transform: uppercase;
    color:red;
}

.navbar-brand > img{
    size: 0px;
    border-radius: 3px;
    margin: 5px 3px;
    size: 0.5cm;
}

.nav-link {
    text-align: right;
}

h1{
    color:red;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.enquiriesstlyes {
    background-color: lightskyblue;
}